In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from pprint import pprint
import json
import pandas as pd
from sqlalchemy import create_engine
import time
from selenium import webdriver
from datetime import datetime
from dateutil.parser import parse
import re
import numpy as np

In [2]:
chrome_path = 'envs\PythonData\chromedriver.exe'
driver = webdriver.Chrome(chrome_path)

In [3]:
# URL of page to be scraped
url = 'https://www.vgchartz.com/weekly/43464/USA'

In [4]:
# Retrieve page with the requests module
response = requests.get(url)

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
# results are returned as an iterable list
chart_date_selector = soup.find('div', class_="chart_date_selector")

selections = chart_date_selector.find_all('option')

In [7]:
#scraping all rows in the main table
table = soup.findAll('table')[1]
#print(table)

rows = table.find_all('tr')

In [8]:
value_list = []
date_list = []

#add date values from options into value_list
for selection in selections:

    values = selection['value']

    if int(values) >= 43058:

        dates = selection.text
        date_list.append(dates)

        value_list.append(values)
date_list.reverse()
print(date_list)

['18th Nov 2017', '25th Nov 2017', '02nd Dec 2017', '09th Dec 2017', '16th Dec 2017', '23rd Dec 2017', '30th Dec 2017', '06th Jan 2018', '13th Jan 2018', '20th Jan 2018', '27th Jan 2018', '03rd Feb 2018', '10th Feb 2018', '17th Feb 2018', '24th Feb 2018', '03rd Mar 2018', '10th Mar 2018', '17th Mar 2018', '24th Mar 2018', '31st Mar 2018', '07th Apr 2018', '14th Apr 2018', '21st Apr 2018', '28th Apr 2018', '05th May 2018', '12th May 2018', '19th May 2018', '26th May 2018', '02nd Jun 2018', '09th Jun 2018', '16th Jun 2018', '23rd Jun 2018', '30th Jun 2018', '07th Jul 2018', '14th Jul 2018', '21st Jul 2018', '28th Jul 2018', '04th Aug 2018', '11th Aug 2018', '18th Aug 2018', '25th Aug 2018', '01st Sep 2018', '08th Sep 2018', '15th Sep 2018', '22nd Sep 2018', '29th Sep 2018', '06th Oct 2018', '13th Oct 2018', '20th Oct 2018', '27th Oct 2018', '03rd Nov 2018', '10th Nov 2018', '17th Nov 2018', '24th Nov 2018', '01st Dec 2018', '08th Dec 2018', '15th Dec 2018', '22nd Dec 2018', '29th Dec 2018']

In [9]:
#getting urls for each week of data
url_list = []

usa = '/USA'

url = 'https://www.vgchartz.com/weekly/'

for y in value_list:

    date_url = url + y + usa
    
    url_list.append(date_url)

In [10]:
game_data_list = []

for url in url_list:
    #getting list of games
    for row in rows[1:]:
        #print(row)
        game_data = row.text
        #game_data = re.sub(r"?\\n[0-9]","",game_data)
        splitting = game_data.rsplit('\n')
        game_data_list.append(splitting)

In [11]:
df= pd.DataFrame(game_data_list)
cleaned_df = df.iloc[::2]
cleaned_df.drop([0, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13], axis=1, inplace=True)
cleaned_df.rename(columns = {1:'Position', 6:'Video Game', 10:'Weekly Sales'}, inplace = True)
cleaned_df

     Position                                         Video Game Weekly Sales
0           1    Super Smash Bros. (2018) (NS)Nintendo, Fighting      432,869
2           2  Red Dead Redemption 2 (PS4)Take-Two Interactiv...      215,113
4           3  Call of Duty: Black Ops IIII (PS4)Activision, ...      198,626
6           4  Spider-Man (PS4) (PS4)Sony Interactive Enterta...      167,154
8           5           Mario Kart 8 Deluxe (NS)Nintendo, Racing      161,657
...       ...                                                ...          ...
8840       71       NieR Automata (PS4)Square Enix, Role-Playing          Pro
8842       72                Destiny 2 (XOne)Activision, Shooter          Pro
8844       73       EA Sports UFC 3 (PS4)Electronic Arts, Sports          Pro
8846       74  Firewall: Zero Hour (PS4)Sony Interactive Ente...          Pro
8848       75      WWE 2K19 (XOne)Take-Two Interactive, Fighting          Pro

[4425 rows x 3 columns]

In [ ]:
while

In [12]:
week1 = cleaned_df[cleaned_df['Position']=='1'].index.tolist()
print(week1)

[0, 150, 300, 450, 600, 750, 900, 1050, 1200, 1350, 1500, 1650, 1800, 1950, 2100, 2250, 2400, 2550, 2700, 2850, 3000, 3150, 3300, 3450, 3600, 3750, 3900, 4050, 4200, 4350, 4500, 4650, 4800, 4950, 5100, 5250, 5400, 5550, 5700, 5850, 6000, 6150, 6300, 6450, 6600, 6750, 6900, 7050, 7200, 7350, 7500, 7650, 7800, 7950, 8100, 8250, 8400, 8550, 8700]

In [13]:
rds_connection_string = "postgres:norocel7@database-1.cgiopwhezyby.us-east-2.rds.amazonaws.com/video_games_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

engine.table_names()

#df.to_sql(name='video_games', con=engine, if_exists='append', index=False)

['video_games']