In [90]:
#dependencies
import pandas as pd
import json
import datetime
import numpy as np
import matplotlib.pyplot as plt
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [91]:
#read in csv and get column names through json
us_videos = pd.read_csv('USvideos.csv')
us_videos_categories = pd.read_json('US_category_id.json')

In [92]:
#view column names and data types
us_videos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [93]:
#get datetime into usable format
us_videos['trending_date'] = pd.to_datetime(us_videos['trending_date'], format='%y.%d.%m').dt.date

In [94]:
#get second datetime into usabe format
publish_time = pd.to_datetime(us_videos.publish_time, format='%Y-%m-%dT%H:%M:%S.%fZ')

# Create Variable publish_date
us_videos['publish_date'] = publish_time.dt.date

# Drop publish_time
us_videos.drop('publish_time',axis=1,inplace=True)

In [95]:
#create desired columns variable for later use if needed (it wasn't)
columns =  ['video_id' ,
	'trending_date' ,
	'title' ,
	'channel_title' ,	
	'category_id' ,
	'publish_time' ,
	'tags' ,
	'views' ,
	'likes' ,
	'dislikes' ,	
	'comment_count']

In [96]:
#create dataframe from csv and view
usvid_df = pd.read_csv('USvideos.csv')
usvid_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [97]:
#create variable of columns not desired for data
#then drop columns
drcolumns = ['thumbnail_link',	'comments_disabled',	'ratings_disabled',	'video_error_or_removed', 'description']
usvid_df.drop(drcolumns, inplace=True, axis=1)

usvid_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518

In [98]:
#create new dataframe for secondnormal form ; split tags column based on pipe ; set video_id as index
new_USV_df = pd.DataFrame(usvid_df.tags.str.split('|').tolist(), index=usvid_df.video_id).stack()
new_USV_df.head()

video_id
2kyS6SvSYSE  0                       SHANtell martin
1ZAPwfrtAFY  0    last week tonight trump presidency
             1      "last week tonight donald trump"
             2                   "john oliver trump"
             3                        "donald trump"
dtype: object

In [99]:
#create variables for original df's column headers for a join later if needed (it wasn't)
tdate = usvid_df['trending_date']
title = usvid_df['title']
ctitle = usvid_df['channel_title']
ptime = usvid_df['publish_time']
views = usvid_df['views']
likes = usvid_df['likes']
dislikes = usvid_df['dislikes']
comment_count = usvid_df['comment_count']

In [100]:
#reset new df index to video_id to clean output data
new_USV_df.reset_index('video_id')

       video_id                                   0
0   2kyS6SvSYSE                     SHANtell martin
0   1ZAPwfrtAFY  last week tonight trump presidency
1   1ZAPwfrtAFY    "last week tonight donald trump"
2   1ZAPwfrtAFY                 "john oliver trump"
3   1ZAPwfrtAFY                      "donald trump"
..          ...                                 ...
21  oV0zkMe1K8s                  "ending explained"
0   ooyjaVdt-jA                        call of duty
1   ooyjaVdt-jA                               "cod"
2   ooyjaVdt-jA                        "activision"
3   ooyjaVdt-jA                       "Black Ops 4"

[808183 rows x 2 columns]

In [75]:
#UNCOMMENT BELOW TO CREATE CONNECTION TO DB

#rds_connection_string = "postgres:norocel7@database-1.cgiopwhezyby.us-east-2.rds.amazonaws.com/yt_data"
#engine = create_engine(f'postgresql://{rds_connection_string}')

In [76]:
#UNCOMMENT BELOW TO PUSH SECOND NORMAL FORM DATAFRAME TO POSTGRES TABLE

#new_USV_df.to_sql('yt_2nf', con=engine, method='multi',index=True, if_exists='append')

In [77]:
#UNCOMMENT BELOW TO PUSH UNEDITED DATAFRAME TO POSTGRES TABLE

#usvid_df.to_sql('mainframe', con=engine, method='multi',index=False, if_exists='append')

In [ ]:
#end